# This is a basic workflow that is manually triggered

name: Manual workflow

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    inputs:
      file_name:
        # Friendly description to be shown in the UI instead of 'name'
        description: 'text_file_name'
        # Default value if no value is explicitly provided
        default: 'readme.txt'
        # Input has to be provided for the workflow to run
        required: true

jobs:

    TIMESTAMP:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v2
        - name: 1.1 UPLOADING FILES
          run: |
            cp ./scripts/main.py ./.github/actions/action_1.2/main.py
        - name: 1.2 EXECUTING THE PYTHON SCRIPT
          uses: ./.github/actions/action_1.2
        - name: file_renaming_to_HOMETASK_name
          run: mv /home/runner/work/devops-school/devops-school/log.md /home/runner/work/devops-school/devops-school/${{ github.event.inputs.file_name }}
        - name: 1.3 DOWNLOAD ARTIFACT
          uses: actions/upload-artifact@v2
          with:
              name: ${{ github.event.inputs.file_name }}
              path: /home/runner/work/devops-school/devops-school/${{ github.event.inputs.file_name }}
